div {
  // &.baselayout-div {
  //   padding: 0;
  //   margin: %;
  // }
  &.pages-div {
    // padding: 10px;
    margin-left: 05em;
  }
  &.baselayout-sidebar-pages {
    display: flex;
    justify-items: center;
    padding: 0px;
  }
}
