div {
  &.jobs-card {
    display: flex;
    flex-direction: column;
    min-width: 0px;
    min-height: 0px;
    box-shadow: rgba(0, 12, 32, 0.04) 0px 0px 1px,
      rgba(3, 17, 38, 0.106) 0px 2px 6px;
    width: 960px;
    height: 268px;
    margin-bottom: 16px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(242, 244, 247);
    border-image: initial;
  }
}
