div {
  &.jobs-page-container {
    width: 960px;
    height: 100vh;
  }
  &.filter-logo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.filter-logo-btn:hover {
    background-color: #f0f8ff;
  }

  & .filter-logo-btn > img {
    width: 18px;
    height: 12px;
  }

  &.jobs-h1-div {
    width: 960px;
    height: 102px;
    display: flex;
    align-items: center;
  }
  &.jobs-filters-div {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: -120px;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgb(210 217 229 / 50%);
    border: 1px solid #e4e7f0;
    border-top: 0;
    margin-bottom: 16px;
    width: 100%;
    background-color: #fff;
  }
  &.chips {
    max-width: 455px;
  }
}
h1 {
  &.jobs-h1 {
    font-size: 36px;
    font-family: Helvetica;
    font-weight: 500;
  }
}
span {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  padding: 10px;
  margin-bottom: 20px;
}
nav {
  display: flex;
  align-items: flex-start;
}
span:hover {
  text-decoration: underline;
}
.jobs-title-chip {
  width: 455px;
}
button {
  &.filter-btn {
    color: #0f6fff;
  }
}
