h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-style: italic;
}
.profile-container {
  display: flex;
  flex-direction: row;
  width:50rem;
  margin:0 auto;

  justify-content: center;
  border-radius: 4px;
}
.main-container {
  border: 1px solid #d2d9e5;
  display:flex;
  flex-direction: center;
  justify-content: center;
}
.pane-wrapper {
  display: flex;
}
.left-pane {
  max-width: 14rem;
  margin-right: 2rem;
}
.right-pane {
  width: 36rem;
  input:not(input[type="checkbox"]) {
    width: 100%;
  }
  .p-dropdown {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}

input[type="checkbox"]{
  width: 1rem;
  height: 1rem;
}

.section-description {
  font-size: 14px;
}

.p-chips {
  input {
    border: none;
  }
}
.chips-input {
  border: none;
}
.achiev-span {
  text-align: right;
  color: #9194a0;
}
.img-style {
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
}
.GPA-class{
  input{
    width: 50%;
  }
}
.blue-btn{
  text-align: center;
  background-color:#0A6Cff;
  color:#ffffff;
  border-radius: 5px;
  padding:10px 16px;
  margin-left: 1rem;
}
.cancel-btn{
  color:#525769;
  
  text-align: center;
  margin-left: 8px;
}

.btns-div{
  display:flex;
  justify-content: flex-end;
  text-align: center;
  

}
.grey-pane{
  background-color: #F2F4F7;
  padding: 24px;
}
.ed-card{
  display: flex;
  padding: 16px; 
  border-radius: 4px;
  border:1px solid #E4E7F0;

}
 /* text-align: center;
  width:90%;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #d2d9e5;
  border-radius: 4px;
} */
/* // div {
//   padding: 0.25em;
// } */
/* label {
  padding: 0.5em;
}
.input-container{
  padding: 0.2rem 0.75rem

}
.section-description{
  padding-left:0rem ;
  margin-right: 0px;
  width: 0.5px;
  height:0.5px  
}
.info{
  width: 2px;
} */
