h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-style: italic;
}
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  border-radius: 4px;
}
.main-container{
  border: 1px solid #d2d9e5;

}
.pane-wrapper{
  display: flex;
}
.left-pane{
  max-width: 14rem;
  margin-right: 2rem;
}
.right-pane{
  width: 36rem;
  input{
    width: 100%;
  }
  .p-dropdown{
    width: 100%;
  }
  textarea{
    width: 100%;
  }
}
.section-description{
  font-size: 14px;
}

.p-chips{
  input{
    border: none;
  }
}
.chips-input{
  border: none;
}
  /* /* text-align: center;
  width:90%;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #d2d9e5;
  border-radius: 4px;
} */
/* // div {
//   padding: 0.25em;
// } */ 
/* label {
  padding: 0.5em;
}
.input-container{
  padding: 0.2rem 0.75rem

}
.section-description{
  padding-left:0rem ;
  margin-right: 0px;
  width: 0.5px;
  height:0.5px  
}
.info{
  width: 2px;
} */
