h1 {
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-style: italic;
}
.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  
  border: 1px solid #d2d9e5;
  border-radius: 4px;
}
  /* /* text-align: center;
  width:90%;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #d2d9e5;
  border-radius: 4px;
} */
/* // div {
//   padding: 0.25em;
// } */ 
/* label {
  padding: 0.5em;
}
.input-container{
  padding: 0.2rem 0.75rem

}
.section-description{
  padding-left:0rem ;
  margin-right: 0px;
  width: 0.5px;
  height:0.5px  
}
.info{
  width: 2px;
} */
