div {
  // & .header-div {
  //   background-color: mintcream;
  //   height: 35px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }
  &.img-div {
    width: 50px;
    height: 35px;
    border-radius: 50%;
  }
  & .img-div > img {
    border-radius: 50%;
    width: 100px;
    height: 35px;
  }
  &.drop-down-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 8px;
  }
  &.header-content-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f8ff;
  }
}
