div {
  &.home-svg-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 64px;
    margin: 4px;
    border-radius: 10%;
  }
  &.profile-svg-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 64px;
    margin: 4px;
    border-radius: 10%;
  }
  &.jobs-svg-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 64px;
    margin: 4px;
    border-radius: 10%;
  }
  &.applied-svg-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 64px;
    margin: 4px;
    border-radius: 10%;
  }
  &.home-svg-div:hover {
    background-color: #f2f8ff;
    transition: 1s;
  }
  &.profile-svg-div:hover {
    background-color: #f2f8ff;
    transition: 1s;
  }
  &.jobs-svg-div:hover {
    background-color: #f2f8ff;
    transition: 1s;
  }
  &.applied-svg-div:hover {
    background-color: #f2f8ff;
    transition: 1s;
  }
  &.sidebar-div {
    //   background-color: RGB(223, 207, 190);
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-evenly;
    //   align-items: flex-start;
    //   display: inline-block;
    position: sticky;
    top: 10px;
    padding: 2px;
    width: 92px;
  }
  //   &.icons-div {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     background-color: lightgoldenrodyellow;
  //     padding: 10px;
  //   }
  //   .icons-div:hover {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     background-color: salmon;
  //     transition: 2s;
  //   }
}
