div {
  &.singupform-container {
    padding-top: 50px;
    width: 677px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &.signup-h1-div {
    width: 324px;
  }
  &.signup-input-div {
    height: 265px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &.signup-h1-div {
    width: 324px;
  }
}
.signup-input {
  height: 45px;
  width: 324px;
  border: 1px solid #777;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.signup-btn {
  width: 324px;
  height: 45px;
  background-color: black;
  color: white;
}
.signup-btn:hover {
  background-color: #0f6fff;
}
.signup-h1 {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}
